/* Titulo */
header{
    padding: 20px;
    border: solid 0px;
    background-color: bisque;
}
h1.title{
    text-align: center;
    color: black;
    text-decoration: underline;
}
table.tabLunette{
    font-size: large;
    border: solid 1px;
    border-radius: 50px;
}
